@charset "utf-8";

/* body, section, div, ul, li, h1, h2 { margin: 0; padding: 0;} */
* { margin: 0; padding: 0;}
li { list-style: none;}
a { text-decoration: none; color: #000;}
.hidden { position: absolute; left: -9999px; }

/* html { overflow: hidden;} */
html, body { display: block; width: 100%; height: 100vh;}
.section { width: 100%; height: 100vh;
position:relative;
}

/* 사이드 네비게이션 */
#sideNav { 
    position: fixed;
    z-index: 100;
    top: 50%; left: 44px;
    opacity: 0;
    /* display: none; */
    transform: translateY(-50%);
    /* transition: 1s; */
}
#sideNav ul li { 
    margin: 21.5px 7px;
    width: 38px;
    height: 38px;
    position:relative;
}
#sideNav ul li a { 
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor:initial;
    text-decoration: none;
}
#sideNav ul li a span { 
    background-color: #ccc;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    transition: all 0.1s ease-in-out;
}
#sideNav ul li a.side_active span, #sideNav ul li a.side_active:hover span{ 
    height: 38px;
    width: 38px;
    margin: -20px;
    background-image: url(../images/nav_active.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-color: transparent;
}
#sideNav ul li a:hover span{
    height: 8px;
    width: 8px;
    margin: -4px;
}
#sideNav ul li a.side_active + .side{
    transition: opacity 0.2s ease-in;
    /* width: 100px; */
    opacity: 1;
}

#sideNav div{
    position: absolute; top: 8px; left: 54px;
    opacity: 0;
    width: 100px;
    cursor: pointer;
    font-size: 14px;
    color: #0067ac;
    font-weight: bold;
}
/* #sideNav li:hover span{
    transition: 0.2s;
    transform: scale(2.0);
} */
#sideNav li:hover .side{
    /* opacity: 1; */
    transition: opacity 0.2s ease-in;
    /* width: 100px; */
    opacity: 1;
}

#header { 
    position:absolute; top:0; left:0;
    width: 100%;
    height: 100px;
    /* border-bottom: 1px solid #000; */
    background: rgba(0,0,0,0.3)
    
}
#header h1{
    position: absolute;
    text-indent: -9999px;}
#header #logo { 
    position: fixed; top:0; left:10px;
    z-index: 1;
    width: 100px;
    height:100px;
    background: no-repeat center / cover;
    background-image: url(../images/logo.png);}

#gnbWrap {
    width: 500px;
    /* height: 30px; */
    /* float:right; */
    margin: 0 auto;
    font-size: 20px;
    line-height: 100px;
    font-weight: bold;
}
#gnbList { 
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #000; */
}
#gnbList li {
    
}
#gnbList li a { color: #fff}

/* #introBg{
     뭔가 1페이지 메인화면으로 쓰고 싶은데 뭐 없나 
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( rgba(0,0,0, 0.3), rgba(0,0,0,0.3)),url(../images/bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; == 주석.
} */

#introBg { 
    width: 100%;
    height: 100vh;
    background: #1e1e1e;
}
/* #introBg{ 
    position:relative;
    width: 100%;
    height: 100vh;
}
#introBg video{ 
    width: 100%;
} */

/* 현재상영영화 */
#live { background-image: linear-gradient( rgba(0,0,0, 0.3), rgba(0,0,0,0.3)),url(../images/bg110.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;}
#live h2{
    position: relative; top: 7vh;
    text-align: center;
    font-size: 60px; 
    color: #fff;
}
#liveWrap { 
    /* position: relative; */
    margin: 23vh auto 0;
    width: 1150px; height: 550px;
    overflow: hidden;
    /* border:3px solid red; */
    background: #000;
}
    /* position: absolute; top: calc( 50% - 230px ); left: calc( 50% - 575px );
    width: 1150px; height: 550px;
    overflow: hidden;
    border:3px solid red;
    background: #000; */
#posBtn div{
    position: absolute; top: 0; left: calc( 50% - 27px );
    text-align: center;
}
#posBtn div a { 
    font-size: 80px;
    color: lightgray;
}
#posBtn .prevBtn { top: calc( 50% - 300px );}
#posBtn .nextBtn { top: calc( 50% + 360px );}


#numBtn { 
    position: absolute; bottom: 10px; left: 50px;
    /* width: 200px; height: 50px; */
    font-size: 25px;
    letter-spacing: 10px;
    }
#numBtn li { float: left;}
#numBtn li a { 
    color: beige;
    opacity: 0.7;
}

#movieList { 
    width: 1150px; height: 1650px;
    /* position: relative; top: -460px; */
}
#movieList li { 
    width: 1150px; height: 550px;
    /* display: flex; 
    justify-content: space-between; */
}
#movieList li .teaser { 
    position:absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 120;
    width: 100%;
    max-width: 900px;
    height: 500px;
    
    display: none;
}
#movieList li .teaser .close{
    float: right;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
}
#movieList li .teaser .teaser_video{
    width: 100%;
    height: 100%;
}
#liveWrap .darkBg { 
    z-index: 100;
    position:absolute; top:0; left: 0;
    width: 100%; height: 100vh;
    background:rgba(51, 51, 51, 0.5);
    display: none;
}

/* #movieList li div {} */
#movieList li .poster { width: 715px; height: 550px; 
    float: left;
    /* border: 3px solid coral; */
}
#movieList li:nth-child(1) .poster {background-image: url(../images/poster1.png);}
#movieList li:nth-child(2) .poster {background-image: url(../images/poster2.png);}
#movieList li:nth-child(3) .poster {background-image: url(../images/poster3.png);}
#movieList li .poster a { 
    display: block;
    width: 715px; 
    height: 550px;
}
#movieList li .explain { 
    width: 400px; height: 550px;
    background: black;
    float: right; 
    position: relative;  right: 30px;
}
#movieList li .explain .border_img { 
    position: absolute; top:0; right: -30px;
    width:30px; height: 550px;
    background-image: url(../images/border.png);
}
.explain .title {
    margin: 15px 0 0 15px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}
.explain .trailer { 
    float: right;
    margin: 15px 15px 0 0;
    color: #fff;
    font-size: 20px;
}
/* #movieList li .explain .rTime */
.rTime { 
    margin: 15px auto 0;
    /* height: 100px;  */
    text-align: center;
    color: #fff;
    background: #6d6b6b;
    border-collapse: collapse;
    
}
.rTime tr { height: 30px;}
.rTime th { height: 30px;
    border: 1px solid #000;
    box-sizing: border-box;}
.rTime td { 
    border: 1px solid #000;
    box-sizing: border-box;
    }
.rTime td:nth-child(1) { width: 60px;}
.rTime td:nth-child(2) { width: 135px;}
.rTime td:nth-child(3) { width: 135px;}
.info {
    position: relative;
    margin: 15px auto 0;
    width: 350px;
    color: #fff;
    font-size: 15px;
}

.info .info_bar { 
    display: inline-block;
    position: absolute; top:2px; left: -10px;
    width:3px;
    height: 40px;
    opacity: 0.9;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 3px 3px 0 0;
}
.info .info_bar2 { 
    position: relative;
    margin-left: 9px;
    padding-left: 10px;
}
.info .info_bar2::before { 
    content: "";
    position: absolute; top: 3px; left:0;
    width: 1px;
    height: 15px;
    background: rgba(255,255,255,.2);
}
.info .actor { margin-top: 2px; }
.info .summary { margin: 2px 0 5px 0;}
.info a { color: #0067ac;}

/* 상영예정작 */
#future {
    background: no-repeat center / cover;
    /* background-image: linear-gradient( rgba(0,0,0, 0.3), rgba(0,0,0,0.3)),url(../images/bg11.jpg); */
    background-image: linear-gradient( rgba(0,0,0, 0.3), rgba(0,0,0,0.3)),url(../images/bg2.png)
    /* background: rgb(17, 17, 17); */
}
#future h2 { 
    position: relative; top: 7vh;
    text-align: center;
    font-size: 60px; 
    color: #fff;
}
#future p { 
    text-align: center;
    margin-top: 9vh;
    font-size: 30px;
    color: #fff;
}
#futureWrap { 
    width: 1200px;
    height: 550px;
    border: 1px solid #000;
    margin: 10vh auto 0;     
    /* margin: 0 auto; */
}
#futureList { 
    display: flex;
    justify-content: space-between;  
}
#futureList li{
    width: 350px;
    height: 550px;
    background: no-repeat center / cover;
    /* position:relative; */
    cursor: pointer;
}
#futureList li:nth-child(1) { background-image: url(../images/venom.jpg);}
#futureList li:nth-child(2) { background-image: url(../images/dune.jpg);}
#futureList li:nth-child(3) { background-image: url(../images/eternals.jpg);}
/* #futureList li a { 
    display :block; 
    width: 350px; height: 500px; 
    start_date 에 커서 올리면 a태그 발동 안하는데 이거 어떻게 하더라 강사님이 알려줬는데...
} */
#futureList li .start_date { 
    position:relative; top: 7px; left: 7px;
    /* z-index: ; */
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(199, 199, 21);
    font-weight: bold; color: #fff;
    text-align: center;
    line-height: 55px;
}
#futureList li .teaser{
    position:absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 120;
    width: 100%;
    max-width: 900px;
    height: 500px;
    
    display: none;
}
#futureList li .teaser .close{ 
    float: right;
    /* text-align: right; */
    font-size: 20px;
    font-weight: normal;
    /* position: relative; */
    /* top:-40px; */
    color: #fff;
}
#futureList li .teaser .teaser_video { 
    width: 100%;
    height: 100%;
}
#futureWrap .darkBg { 
    z-index: 100;
    position:absolute; top:0; left: 0;
    width: 100%; height: 100vh;
    background:rgba(51, 51, 51, 0.5);
    display: none;
}

/* 극장안내 */
#guide{
    background: no-repeat center/ cover;
    background-image :url(../images/bg20.jpg);
    /* background: #e9e9e9; */
    /* border-top: 3px solid #fff; */
    /* background: no-repeat center / cover;
    background-image: linear-gradient( rgba(0,0,0, 0.3), rgba(0,0,0,0.3)),url(../images/bg12.png); */
    /* background: rgb(17, 17, 17); */
    
}
#guide h2 {
    position: relative; top: 7vh;
    text-align: center;
    font-size: 60px; 
    color: #1e1e1e;
}
#guideWrap{
    position: relative;
    /* width: 1100px;
    height: 620px;
    border: 1px solid #000;
    margin: 180px auto 0; */
    width: 1100px;
    height: 65vh;
    margin: 15vh auto 0;
    border: 1px solid #fff;
    background: rgb(109, 146, 161);
}
#guideWrap .minimap { 
    position: absolute; bottom:20px; right:50px;
    width: 430px; height: 260px;
    background: no-repeat center / cover;
    background-image: url(../images/minimap.gif);
}
#guideList {
    margin: 50px 0 0 100px;
}
#guideList li { 
    list-style-image: url(../images/check1.png);
    color: #e9e9e9;
}
#guideList h3 { 
    margin: 0 0 5px 10px;
    font-size: 30px;
}
#guideList p { 
    margin: 0 0 10px 20px;
    font-size: 22px;
}

/* 약도 및 브랜드. */
#guide2 { 
    width: 100%; height: 100vh; 
    /* background: lightblue; */
    background: no-repeat center / cover;
    background-image: linear-gradient( rgba(0,0,0, 0.3), rgba(0,0,0,0.3)),url(../images/bg12.png);
    overflow: hidden;
}
#guide2 h2 { 
    position: relative; top:25vh; left: 15%;
    display: inline-block;
    color: #fff;
    font-size: 55px;
}
#guide2_wrap { 
    width: 1200px;
    margin: 0 auto;
}
#guide2_wrap #leftBox { 
    position: relative; top: 30vh; left: -5%;
    width: 45%;; 
    /* height: 50%; */
    float: left;
    /* border: 3px solid blue; */
    /* box-sizing: border-box; */
    /* margin-left: 5%; */
}
#leftBox p { /* 스크롤됐을 때 한 글자씩 애니메이션 하기 */
    font-size: 25px;
    line-height: 40px;
    color: #e9e9e9;
}
#leftBox .food { } /* 스크롤됐을 때 형광펜처럼 칠하기 */
#leftBox .link{
    font-size: 20px;
}

#guide2_wrap #rightBox { 
    position: relative; z-index: 999;
    width: 50%;
    height: 100vh;
    float: right;
    /* overflow: hidden; */
    min-width: 300px;
}
/* 하나는 위로 하나는 반대로..... */
@keyframes verticalscroll1 {
    0% {-moz-transform: translateY(590px);-ms-transform: translateY(590px);-webkit-transform: translateY(590px);transform: translateY(590px);}
    50% {-moz-transform: translateY(-2400px);-ms-transform: translateY(-2400px);-webkit-transform: translateY(-2400px);transform: translateY(-2400px)}
	100% {-moz-transform: translateY(590px);-ms-transform: translateY(590px);-webkit-transform: translateY(590px);transform: translateY(590px);}
}
@keyframes verticalscroll2 {
	0% {-moz-transform: translateY(-2400px);-ms-transform: translateY(-2400px);-webkit-transform: translateY(-2400px);transform: translateY(-2400px)}
    50% {-moz-transform: translateY(590px);-ms-transform: translateY(590px);-webkit-transform: translateY(590px);transform: translateY(590px);}
    100% {-moz-transform: translateY(-2400px);-ms-transform: translateY(-2400px);-webkit-transform: translateY(-2400px);transform: translateY(-2400px)}
}
#rightBox .active1{
    animation: verticalscroll1 60s linear infinite;
    /* animation: ; */
}
#rightBox .active2{
    animation: verticalscroll2 60s linear infinite;
}
#guide2_wrap #rightBox .brand{
    display: inline-block;
    margin-right: 6%;
    width: 43%;
    height: calc(290px * 10);
    /* border: 3px solid red;
    box-sizing: border-box; */
}

#guide2_wrap #rightBox .brandRight{
    position:relative; top: -160px;
}

#guide2_wrap #rightBox .brand li{
    width: 100%;
    height: 258px;
    margin-top: 32px;
}

#guide2_wrap #rightBox .brand img { 
    border-radius: 24%;
    width: 100%;
    height: 100%;
    filter: brightness(80%);
}

/* 유의사항 */
#caution { 
    background: no-repeat center/ cover;
    background-image :url(../images/bg20.jpg);
}
#caution h2 { 
    position: relative; top: 7vh;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}
#cautionWrap { 
    /* position: relative; top: 20vh; */
    margin: 15vh auto 0;
    width: 1100px;
    height: 65vh;
    border: 3px solid #1e1e1e;    
    background-color: lightseagreen;
}
#cautionList {
    margin: 50px 0 0 100px;
}
#cautionList li { 
    color: #fff;
}
#cautionList li:nth-child(1) { list-style-image: url(../images/blackbox.png); }
#cautionList li:nth-child(2) { list-style-image: url(../images/carlight.png); }
#cautionList li:nth-child(3) { list-style-image: url(../images/break.png); }
#cautionList li:nth-child(4) { list-style-image: url(../images/garbage.png); }
#cautionList li:nth-child(5) { list-style-image: url(../images/battery.png); }

#cautionList h3 {  
    margin: 0 0 5px 10px;
    font-size: 30px;
}
#cautionList p { 
    margin: 5px 0 10px 30px;
    font-size: 20px;
}
#cautionList p span { }

/* 갤러리 */
#galery { 
    background: no-repeat center / cover;
    /* background-image: linear-gradient( rgba(0,0,0, 0.6), rgba(0,0,0,0.6)),url(../images/bg11.jpg); */
    background-image: url(../images/bg20.jpg);
    
    position: relative;
}
#galery h2 { 
    position: relative; top: 7vh;
    text-align: center;
    font-size: 60px; 
    color: #6d6b6b;
}
#galeryWrap{
    width: 1280px;
    height: 500px;
    overflow: hidden;
    margin: 15vh auto 0;
    /* background: #1e1e1e; */
    /* border: 1px solid red; */
}
#galeryList { 
    width: 300%;
    height: 500px;
}
#galeryList li{ 
    width: 300px;
    height: 300px;
    margin: 100px 30px;
    float: left;
    transition: 1s;
}
#galeryList img{
    width: 300px; height: 300px; 
    transition: 1s;
}
/* 이거는 js 하면서 슬라이더 할 때 크기 바뀌는걸로. 클래스 줘서하기. */
/* ************@@@@@ 마우스 호버시 스케일 키우기 */

#galeryList .galery_active {
    width: 500px;
    height: 450px;
    margin: 25px 30px;
    transition: 1s;
}
#galeryList .galery_active img{
    width: 500px;
    height: 450px;
    transition: 1s;
}
#galery_slider_btn { }
#galery_slider_btn a { 
    position: absolute; top: calc( 50% - 60px ) ;
    display: block;
    width: 60px; height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    /* opacity: 0.3; */
    transition: 0.5s;
    background: no-repeat center;
}
#galery_slider_btn .galery_prev { 
    left: 10%;
    background-color: #6d6b6b;
    background-image: url(../images/prev_icon.png);
    filter: sepia(3);
}
#galery_slider_btn .galery_next { 
    right: 10%;
    background-color: #1e1e1e;
    background-image: url(../images/next_icon.png);
}
/* 위치 진짜 어떻게 설정하지... */
/* #galeryList li:nth-child(1) { background-image: url(../images/galery0.jpg);}
#galeryList li:nth-child(2) { background-image: url(../images/galery1.jpg);}
#galeryList li:nth-child(3) { background-image: url(../images/galery2.jpg);}
#galeryList li:nth-child(4) { background-image: url(../images/galery3.jpg);}
#galeryList li:nth-child(5) { background-image: url(../images/galery4.jpg);}
#galeryList li:nth-child(6) { background-image: url(../images/galery5.jpg);}
#galeryList li:nth-child(7) { background-image: url(../images/galery6.jpg);}
#galeryList li:nth-child(8) { background-image: url(../images/galery7.jpg);}
#galeryList li:nth-child(9) { background-image: url(../images/galery8.jpg);} */

#community { background: chocolate;}
#community h2 { 
    position: relative; top: 7vh;
    text-align: center;
    font-size: 80px;
    color: #e9e9e9;
}
#communityWrap { 
    margin: 13vh auto 0;
    width: 900px;
    height: 70vh;
    display: table;
    table-layout: fixed;
    border: 3px solid blue;
    
}
/* #communityWrap div { border: 1px solid red}; */
#communityWrap #community_top { display: table-row; } 
.community {
    position: relative;
    display: table-cell;
    width: 50%;
    height: 50%;    
    transition: transform 0.7s;
    border: 1px solid #000;
    box-sizing: border-box;
}
.community:hover{
    transform: scale(1.2);
}
#official:hover { background: slateblue; }
#freetalk:hover { background: lightseagreen; }
#epilogue:hover { background: forestgreen;}
#message:hover { background: dodgerblue;}


.community h3 { 
    margin: 10% 0 0 10%;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.community a { 
    position: absolute; top: 13%; right: 13%;
    background: #fff;
    display: block;
    width: 30px; height: 30px;
    line-height: 25px; font-size: 25px;
    text-align: center;
    border-radius: 50%;
}
#communityWrap #community_bottom { display: table-row; } 

#map { background: olivedrab;}
#map h2 { 
    position: relative; top: 7vh;
    text-align: center;
    font-size: 48px;
    color: #e9e9e9;
}
#mapWrap{ 
    width: 900px;
    height: 500px;
    /* border: 1px solid red; */
    margin: 15vh auto 0;
}
#mapWrap .realmap{
    width: 900px;
    height: 500px;
}

#footer { 
    background: #1e1e1e;
    color: #ccc;
    height: 800px;
    overflow: hidden;
}

#foot_info {
    width: 800px;
    height: 300px;
    margin: 150px auto 0;
    font-size: 35px;
}
#foot_info li {
    margin-bottom: 20px;
}
#foot_info li address a{
    display: inline-block;
    width: 50px; height: 50px;
    background-image: url(../images/insta.jpg);
}